
* { margin: 0; margin: 0; }

.container {
    width: 100vw;
    height: 100vh;
    animation: bg 8s infinite;
}

@keyframes bg {
    0% { background-color: #27296d;}
    25% { background-color: #f5c7f7;}
    50% { background-color: #5e63b6;}
    75% { background-color: #a393eb;}
    100% { background-color: #27296d;}
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}