.banner {
    width: 740px;
    height: 120px;
    background-color: burlywood;
    float: left;
    border: 2px solid black;
}

.login {
    width: 333px;
    height: 120px;
    float: left;
    background-color: beige;
    margin-left: 8px;
    border: 2px solid black;
}

.main {
    width: 1089px;
    height: 124px;
    background-color: gray;
    margin: 0 auto;
}