*{
    margin: 0;
    padding: 0;
}

.banner {
    width: 740px;
    height: 120px;
    background-color: burlywood;
    float: left;
}

.login {
    width: 330px;
    height: 120px;
    float: left;
    background-color: beige;
    margin-left: 8px;
    /* 로그인 박스 기준 왼쪽 바깥 여백 지정, 배너 박스 기준 바깥쪽 여백은 margin-right */
}